<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Tomas Vyleta">

    <!-- Icon next to the title -->
    <link rel="shortcut icon" type="image/x-icon" href="../pic/icons/icon.png"/>
    <title>Valprojekt - Tabulka</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Google Material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- JavaScript files-->
    <script src="../js/table-control.js"></script>
    <script src="../js/table-builder.js"></script>

    <!-- CSS files-->
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark sticky-top justify-content-between">
    <!-- Main brand with href to home -->
    <a class="navbar-brand" href="../index.html">Valprojekt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <!-- Left navbar -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="kontakty.html">Kontakty</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="reference.html">Reference</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="sluzby.html">Nabídka služeb</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="album-1.html">Album</a>
            </li>
            <li class="nav-item">

                <a class="nav-link" href="forum.html">Dotazy</a>
            </li>
            <!-- DropDown menu -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Mimo správu</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="tabulka.html"> Tabulka<span class="sr-only">(current)</span></a>
                </div>
            </li>
        </ul>
        <!-- Right navbar -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="sign-in.html" target="_blank">Správa</a>
            </li>
        </ul>
    </div>
</nav>

<main>
    <div class="container">
        <div class="row">
            <h1 class="page-title display-4">Tabulka zaměstnanců</h1>
        </div>

        <div style="overflow-x: auto">
            <!-- Table -->
            <table id="employe-table" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col">Personal ID</th>
                    <th scope="col">Full name</th>
                    <th scope="col">Position</th>
                    <th scope="col">Email adress</th>
                    <th scope="col">Phone number</th>
                    <th scope="col">Username</th>
                </tr>
                </thead>
                <tbody>
                <!-- Here will JS generate the table with employees from XML file -->
                </tbody>
            </table>
        </div>
        <div>
            <p id="tabulka-generator-link" class="text-right">Generated using <a
                    href="https://www.fakenamegenerator.com" target="_blank">fakenamegenerator.com</a>.</p>
        </div>
        <!-- justify-content-end... we want elements on right -->
        <div class="row justify-content-end">
            <div class="col-auto">
                <button class="btn btn-success" onclick="addRow()">Přidat řádek</button>
            </div>
            <div class="col-auto">
                <button class="btn btn-danger" onclick="removeLastRow()">Odebrat řádek</button>
            </div>
        </div>

    </div>
</main>

<!-- Footer, under the main container -->
<footer class="container">
    <div class="footer-list row justify-content-around">
        <div class="col-2">
            <h5>Záložka</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="text-muted" href="kontakty.html">Kontakty</a>
                </li>
                <li>
                    <a class="text-muted" href="reference.html">Reference</a>
                </li>
                <li>
                    <a class="text-muted" href="sluzby.html">Nabídka služeb</a>
                </li>
                <li>
                    <a class="text-muted" href="album-1.html">Album</a>
                </li>
                <li>
                    <a class="text-muted" href="forum.html">Dotazy</a>
                </li>
            </ul>
        </div>
        <div class="col-2">
            <h5>Kontakt</h5>
            <p>
                Partyzánská 93,<br/>
                Podbořany<br/>
                44101
            </p>
        </div>
        <div class="col-3">
            <h5>Rychlé hledání</h5>
            <!-- Form and input for Google search -->
            <form action="https://google.com/search" method="get" target="_blank">
                <input class="footer-google-search-input form-control" type="text" name="q"
                       placeholder="Hledej na Google..."/>
                <button class="footer-google-search-submit btn btn-info" type="submit">Hledat</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="footer-author">
        <div class="row justify-content-center">
            <div class="col-auto">
                <small>Tomáš Vyleta, <a href="mailto:vyleta.tom@gmail.com">vyleta.tom@gmail.com</a>, &copy; 2019</small>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <!-- img class="mb-2" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24"-->
                <small>Write with <a href="https://getbootstrap.com" target="_blank">Bootstrap 4</a>.</small>
            </div>
        </div>
    </div>
</footer>
</body>
</html>